<div>
    <div class="container" style="padding-top: 20%; padding-left: 15%;">
        <div class="panel panel-default" style="width: 650px;">
            <div class="panel-body" style="color: #0B2161" ui-view>
                
            </div>
        </div>
    </div>
</div>