<header>
    <table>
        <tr>
            <div class="col-sm-6">
                <a href="newCreateProfile.html"> <img alt="" src="../../Images/logo.png" height="150px;" width="300px;" style="padding-top: 5%;"></a>
            </div>
            <div class="col-sm-6" style="padding-top: 5%">
                <button style="color: blue" type="button" class="btn btn-link">FOR SELLERS
                </button>
                <button style="color: blue" type="button" class="btn btn-link">FOR BUYERS
                </button>
                <button style="color: blue" type="button" class="btn btn-link">
                    FOR PROS</button>
                <button style="color: blue" type="button" class="btn btn-link">
                    ABOUT</button>
                </a>
            </div>
        </tr>
    </table>
</header>

<div ui-view>

</div>