<h3 align="center">Create Account</h3>
<hr>
<form name="memregform">
    <div class="col-sm-12">
        <h4>Account Information</h4>
    </div>
    <div class="col-sm-12" style="padding-bottom: 25px;">
        <div class="col-sm-6">
            <div>First Name</div>
            <input type="text" name=firstname class="form-control" ng-model="mrc.member.first_name" required/>
            <span style="color: red;" ng-if="memregform.firstname.$error.required">Required</span>

        </div>
        <div class="col-sm-6">
            <div>Last Name</div>
            <input type="text" class="form-control" ng-model="mrc.member.last_name" name="lastname" required />
            <span style="color: red;" ng-show="memregform.lastname.$error.required">Required</span>

        </div>
    </div>



    <!-- 
<div id="txtb_boxes">
 		<textarea id="text_1" ng-maxlength="10" tabindex="1" auto-next></textarea>
    	<textarea id="text_2" ng-maxlength="10" tabindex="2" auto-next></textarea>
    	<textarea id="text_3" ng-maxlength="10" tabindex="3" auto-next></textarea>
</div>





 -->



    <div class="col-sm-12" style="padding-bottom: 25px;">
        <div class="col-sm-6">
            <div>E-mail</div>
            <input type="text" name="email" class="form-control" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,20}$/" ng-model="mrc.member.email" required /> <span style="color: red;" ng-show="memregform.email.$error.pattern">Not
									a valid E-mail!</span> <span style="color: red;" ng-show="memregform.email.$error.required">Required</span>

        </div>

    </div>

    <div class="col-sm-12" style="padding-bottom: 25px;">
        <div class="col-sm-6">
            <div>Password</div>
            <input type="password" id="password" class="form-control" ng-model="mrc.member.password" name="password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>


            <span style="color: red;" ng-show="memregform.password.$error.required ">Required</span>
            <span ng-show="!memregform.password.$error.required && (memregform.password.$error.minlength || memregform.password.$error.maxlength) && memregform.password.$dirty">Passwords
									must be between 8 and 20 characters.</span>

            <span ng-show="!memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && memregform.password.$error.pattern && memregform.password.$dirty">Must
									contain one lower &amp; uppercase letter, and one non-alpha
									character (a number or a symbol.)</span>





        </div>
        <div class="col-sm-6">

            <span ng-show="!memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && !memregform.password.$error.pattern">
									<i class="glyphicon glyphicon-ok" style="color: green"></i></span>
            <span ng-show="!memregform.password.$error.required && (memregform.password.$error.minlength || memregform.password.$error.maxlength) && memregform.password.$dirty"><br><i class="glyphicon glyphicon-remove" style="color: red"></i><br></span>

            <span ng-show="!memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && memregform.password.$error.pattern && memregform.password.$dirty"><br><i class="glyphicon glyphicon-remove" style="color: red"></i><br>	
								</span>
            <br />


        </div>

    </div>


    <div class="col-sm-12" style="padding-bottom: 25px;">
        <div class="col-sm-6">
            <div>Re-Type Password</div>
            <input type="password" class="form-control" ng-model="password_c" id="password_c" name="password_c" valid-password required />
            <span ng-show="memregform.password_c.$error.required">Please confirm your password.</span>
            <span ng-show="!memregform.password_c.$error.required && memregform.password_c.$error.noMatch && memregform.password.$dirty &&!memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && !memregform.password.$error.pattern">Passwords do not match.</span>
        </div>
        <div class="col-sm-6"><span ng-show="!memregform.password_c.$error.required && memregform.password_c.$error.noMatch && memregform.password.$dirty"><br><i class="glyphicon glyphicon-remove" style="color: red">
</i></span>


            <span ng-show="!memregform.password_c.$error.required && !memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && !memregform.password.$error.pattern && !memregform.password_c.$error.required && !memregform.password_c.$error.noMatch && !memregform.password.$error.required"><br><i class="glyphicon glyphicon-ok" style="color: green">
</i></span>
        </div>









        <div class="col-sm-12" style="padding-bottom: 25px;">
            <div align="right">
                <button type="button" class="btn btn-default" style="color: #0B2161" ng-click="mrc.memRegCancel()">Cancel</button>
               

                <span style="color: red;" ng-hide="!memregform.lastname.$error.required && !memregform.lastname.$error.required
									  && !memregform.email.$error.pattern && !memregform.email.$error.required
									  && !memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && !memregform.password.$error.pattern
									  && !memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && !memregform.password.$error.pattern 
									  && !memregform.password_c.$error.required && !memregform.password_c.$error.noMatch && !memregform.password.$error.required "><button type="button" class="btn btn-primary"
									ng-click="">Save</button></span>

                <span style="color: red;" ng-show="!memregform.lastname.$error.required && !memregform.lastname.$error.required
									  && !memregform.email.$error.pattern && !memregform.email.$error.required
									  && !memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && !memregform.password.$error.pattern
									  && !memregform.password.$error.required && !memregform.password.$error.minlength && !memregform.password.$error.maxlength && !memregform.password.$error.pattern 
									  && !memregform.password_c.$error.required && !memregform.password_c.$error.noMatch && !memregform.password.$error.required "><button type="button" class="btn btn-primary"
									ng-click="mrc.memRegistration()">Save</button></span>
            </div>

        </div>







</form>