<div ng-switch="getCurrentStep()" class="slide-frame">
    <div ng-switch-when="step1">
        <div class="col-md-10">
            <div class="container" style="padding:;">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">
                        <div class="col-sm-12">
                            <div align="center">
                                <label>Select what best represents you </label>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div align="center">
                          
                            <span ng-repeat="jobType in npc.jobTypeSelection">
																<button  class="btn btn-success btn-circle btn-xl"
																	ng-click="npc.selectedJobTypes(jobType)"
																	
																
																	type="button" >{{jobType.job_type}}
																</button>
															</span>







                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding-top: 20%;">
                <div id="step1" class="col-sm-3" style="background-color: green; height: 77px;">
                    <label style="color: white;">STEP 1</label>
                    <br>
                    <label style="color: white;"></label>
                </div>
            </div>




        </div>
    </div>
    <div ng-switch-when="nmls">

        <form name="nmlsform">
            <div class="col-md-10">
                <div class="container" style="padding:">
                    <div class="panel panel-default">
                        <div class="panel-body" style="width: 100%; height: 100%;">
                            <div class="col-sm-12" style="padding-top: 50px;">
                                <div class="col-sm-3">NMLS Number</div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name=nmlsNumber ng-model="npc.profileUser.nmls_number" placeholder="NMLS Number" ng-pattern="/^(0|[1-9][0-9]{5})$/" maxlength="6" required /> <span style="color: red;" ng-if="nmlsform.nmlsNumber.$error.required ">Required</span>
                                    <span style="color: red;" ng-if="nmlsform.nmlsNumber.$error.pattern ">Please
												enter a valid number</span>
                                </div>
                            </div>
                            <div align="right" style="padding-top: 30%;">
                                <span ng-hide="!nmlsform.nmlsNumber.$error.required && !nmlsform.nmlsNumber.$error.pattern"><button
												type="button" class="btn btn-primary btn-lg btn-oval"
												ng-click="">Next</button></span> <span ng-show="!nmlsform.nmlsNumber.$error.required && !nmlsform.nmlsNumber.$error.pattern"><button
												type="button" class="btn btn-success btn-lg btn-oval"
												ng-click="setCurrentStep(2)">Next</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12" style="padding-top: 16.5%;">
            <div id="step1" class="col-sm-3" style="background-color: #0033cc; height: 77px;" ng-click="setCurrentStep(0)">
                <label style="color: white;">STEP 1</label>
                <br>
                <label style="color: white;">Represent :{{npc.temp.representsType}}
                </label>
            </div>
            <div class="col-sm-3" style="background-color: green;">
                <label>
                    <h1>STEP 2</h1></label>
                <br>
            </div>
        </div>
    </div>








    <div ng-switch-when="loanOfficer">
        <div class="col-md-10">
            <form name="loanForm">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-body" style="width: 100%; height: 100%;">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <label>Years of Experience </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                {{npc.years_of_experience_id}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="year in npc.yearsOfExpDropdown"><a ng-click="npc.exYears(year)">{{year.years_of_experience}}</a></li> 
                                                 
  
                                            </ul>
                                            <span style="color: red;" ng-if="npc.profileUser.years_of_experience_id == 'Select a value'">Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <label>2015 production</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="slider1" type="range" min="1000000" name="production" max="20000000" step="250000" ng-model="npc.profileUser.production_2015" required />
                                            <input type="text" ng-model="npc.profileUser.production_2015" format="number" name="production1" ng-pattern="/^([0-9]{7}|20000000)$/" />

                                            <label ng-bind="test1"></label> <span style="color: red;" ng-if="loanForm.production.$error.required ">Required</span>

                                            <span style="color: red;" ng-Show="loanForm.production.$error.required &&  loanForm.production1.$error.pattern ">valid
														value</span>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-sm-12">

                                        <div class="col-sm-6">
                                            <label>Average Loan Amount </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="slider11" type="range" min="100000" name="averageLoan" max="10000000" step="250000" ng-model="npc.profileUser.avg_loan_amount_2015" required />
                                            <input type="text" ng-model="npc.profileUser.avg_loan_amount_2015" format="number" ng-pattern="/^([0-9]{6,7}|10000000)$/" name="averageLoan1" />
                                            <span style="color: red;" ng-if="loanForm.averageLoan.$error.required ">Required</span>
                                            <span style="color: red;" ng-Show="loanForm.averageLoan.$error.required &&  loanForm.averageLoan1.$error.pattern ">valid
														value</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <br>
                                        <label>Currently Work For</label>
                                    </div>







                                    <div class="col-sm-6">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                {{npc.current_employer_type_id}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="empType in npc.curEmptypesDropdown"><a ng-click="npc.currentEmpTy(empType)">{{empType.current_employer_type}}</a></li>

                                            </ul>
                                            <span style="color: red;" ng-if="npc.profileUser.current_employer_type_id == 'Select a value'">Required</span>
                                        </div>
                                    </div>



                                </div>
                                <div class="col-sm-6">
                                    <br>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <label>Percentage Purchase</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="slider13" type="range" min="0" max="100" step="5" name="percentagePurc" ng-model="npc.profileUser.percent_purchase_2015" required />
                                            <input type="text" ng-model="npc.profileUser.percent_purchase_2015" ng-pattern="/^[1-9][0-9]?$|^100$/" name="percentagePurc1" />
                                            <label>%</label>
                                            <span style="color: red;" ng-if="loanForm.percentagePurc.$error.required ">Required</span>

                                            <span style="color: red;" ng-show="loanForm.percentagePurc.$error.required && loanForm.percentagePurc1.$error.pattern ">valid
														value </span>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <label>Percentage Government Business </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="slider14" type="range" ng-model="npc.profileUser.government_business_2015" min="0" max="100" step="5" name="percentageGovernmentBusi" required />
                                            <input type="text" ng-model="npc.profileUser.government_business_2015" name="percentageGovernmentBusi1" ng-pattern="/^[1-9][0-9]?$|^100$/" />
                                            <label>%</label> <span style="color: red;" ng-if="loanForm.percentageGovernmentBusi.$error.required ">Required</span>
                                            <span style="color: red;" ng-show="loanForm.percentageGovernmentBusi.$error.required && loanForm.percentageGovernmentBusi1.$error.pattern ">valid
														value </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div align="right">
                            <span ng-hide="!loanForm.production.$error.required && !loanForm.averageLoan.$error.required 
									 && !loanForm.percentagePurc.$error.required  && !loanForm.percentageGovernmentBusi.$error.required && !(npc.profileUser.years_of_experience_id == 'Select a value') 
								&&    !(npc.profileUser.current_employer_type_id == 'Select a value')  "><button
											type="button" class="btn btn-primary btn-lg btn-oval"
											ng-click="">Next</button></span> <span ng-show="!loanForm.production.$error.required && !loanForm.averageLoan.$error.required 
									 && !loanForm.percentagePurc.$error.required  && !loanForm.percentageGovernmentBusi.$error.required && !(npc.profileUser.years_of_experience_id == 'Select a value') 
								&&    !(npc.profileUser.current_employer_type_id == 'Select a value')  "><button
											type="button" class="btn btn-success btn-lg btn-oval"
											ng-click="setCurrentStep(3)">Next</button></span>
                        </div>
                        <br>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12" style="padding-top: 16.5%;">
            <div id="step1" class="col-sm-3" style="background-color: #0033cc; height: 77px;" ng-click="setCurrentStep(0)">
                <label style="color: white;">STEP 1</label>
                <br>
                <label style="color: white;">Represent :Loan Officer </label>
            </div>
            <div class="col-sm-3" style="background-color: #0033cc; height: 77px;" ng-click="setCurrentStep(1)">
                <label style="color: white;">STEP 2</label>
                <br>
                <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                </label>

            </div>
            <div class="col-sm-3" style="background-color: green;">
                <label>
                    <h1>STEP 3</h1></label>
                <br>
            </div>
        </div>

    </div>


    <div ng-switch-when="looking">

        <div class="col-md-10">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">
                        <div class="col-sm-12">
                            <div align="center">
                                <label>Are you currently looking for a new opportunity</label>
                            </div>
                            <br>
                            <div align="center" style="padding-top: 5%; padding-bottom: 5%">
                                <button type="button" ng-click="npc.opportunityYes();setCurrentStep(4)" class="btn btn-success btn-circle btn-xl">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    <br>Yes
                                </button>
                                <button type="button" class="btn btn-success btn-circle btn-xl" ng-click="npc.opportunityNo();setCurrentStep(4)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <br>No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 16.5%;">
            <div id="step1" class="col-sm-3" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 1</label>
                <br>
                <label style="color: white;">Represent :{{npc.temnpc.representsType}}
                </label>
            </div>
            <div class="col-sm-3" style="background-color: #0033cc; height: 77px;" ng-click="setCurrentStep(1)">
                <label style="color: white;">STEP 2</label>
                <br>
                <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                </label>

            </div>

            <a href="#" data-toggle="tooltip" title="Years of Ex :{{npc.profileUser.yearsOfExperience}}
			               currentlyWorkFor : {{npc.profileUser.currentlyWorkFor}} 
							 averageLoanAmount :{{npc.profileUser.averageLoanAmount}}
							 production_2015 :{{npc.profileUser.production_2015}}
							 percentageGB : {{npc.profileUser.percentageGovernmentBusiness}}
							percentagePurchase : :{{npc.profileUser.percentagePurchase}}" placement: "top">



                <div class="col-sm-3" style="background-color: #0033cc; height: 77px;" ng-click="setCurrentStep(2)">
                    <label style="color: white;">STEP3</label>
                </div>

            </a>

            <div class="col-sm-3" style="background-color: green;">
                <label>
                    <h1>STEP 4</h1></label>
                <br>
            </div>
        </div>


    </div>

    <div ng-switch-when="step5">
        <div class="col-md-10" align="center">

            <div class="panel panel-default" style="width: 650px;">

                <div class="panel-body" style="color: #0B2161">



                    <form name="step5form">



                        <div class="col-sm-12" style="padding-bottom: 25px;" align="left">

                            <div>Mobile Number</div>


                            <div class="col-sm-2" style="padding-left: 0px;">
                                <input type="text" class="form-control" required id="text_1" tabindex="1" auto-next placeholder="999" ng-model="npc.mobileNumber1" name="mobilenumber1" ng-pattern="/^[1-8][0-9]{2}$/" ng-maxlength="3" />
                            </div>


                            <div class="col-sm-2">
                                <input type="text" class="form-control" required required id="text_2" tabindex="2" auto-next placeholder="999" ng-model="npc.mobileNumber2" name="mobilenumber2" ng-pattern="/^[0-9]{3}$/" ng-maxlength="3" />
                            </div>



                            <div class="col-sm-3" >
                                <input style="width: 80%;" type="text" class="form-control" required id="text_3" tabindex="3" auto-next placeholder="9999" ng-model="npc.mobileNumber3" name="mobilenumber3" ng-pattern="/^[0-9]{4}$/" maxlength="4" />
                            </div>



                        </div>
                        <div class="col-sm-12" align="left">

                            <span style="color: red;" ng-show="step5form.mobilenumber1.$error.pattern || step5form.mobilenumber2.$error.pattern || step5form.mobilenumber3.$error.pattern">Please
										enter a valid Mobile number </span>
                        </div>
                        <div class="col-sm-12" style="padding-bottom: 25px;" data-toggle="tooltip" data-placement="bottom" title="Batch" align="left">
                            <div align="left">Address</div>
                            <input type="text" name=address class="form-control" placeholder="Address" ng-model="npc.profileUser.address" required ng-change="npc.mobile()" />
                            <span style="color: red;" ng-if="step5form.address.$error.required">Required</span>

                        </div>
                        <div class="col-sm-12" style="padding-bottom: 25px;" data-toggle="tooltip" data-placement="bottom" title="Batch" align="left">
                            <div align="left">City</div>
                            <input type="text" name=city class="form-control" placeholder="City" ng-model="npc.profileUser.city" required />
                            <span style="color: red;" ng-if="step5form.city.$error.required">Required</span>

                        </div>
                        <div class="col-sm-12" style="padding-bottom: 25px;" align="left">
                            <div>State</div>


                            <select class="form-control push-right" ng-model="npc.profileUser.state" name="state" required>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select> <span style="color: red;" ng-if="step5form.state.$error.required">Required</span>
                        </div>
                        <div class="col-sm-12" style="padding-bottom: 25px;" align="left">
                            <div align="left">Zip</div>
                            <input type="text" class="form-control" name=zip ng-model="npc.profileUser.zip" placeholder="Zip" ng-pattern="/^([0-9]{5})$/" maxlength="5" required /> <span style="color: red;" ng-if="step5form.zip.$error.required ">Required</span>
                            <span style="color: red;" ng-if="step5form.zip.$error.pattern ">Please
										enter a valid number</span>
                        </div>



                    </form>

                    <div align="right" style="padding-top: 30%;">
                        <span ng-hide="!step5form.mobilenumber1.$error.pattern && !step5form.mobilenumber2.$error.pattern && !step5form.mobilenumber3.$error.pattern 
											&& !step5form.city.$error.required && !step5form.state.$error.required && !step5form.zip.$error.required && !step5form.zip.$error.pattern"><button
										type="button" class="btn btn-primary btn-lg btn-oval"
										ng-click="">Next</button></span>

                        <span ng-if="npc.profileUser.looking_for_opportunity == 'false'">
										<span
									ng-show="!step5form.mobilenumber1.$error.pattern && !step5form.mobilenumber2.$error.pattern && !step5form.mobilenumber3.$error.pattern 
											&& !step5form.city.$error.required && !step5form.state.$error.required && !step5form.zip.$error.required && !step5form.zip.$error.pattern"><button
										type="button" class="btn btn-success btn-lg btn-oval"
										ng-click="setCurrentStep(5)">Next</button></span>
                        </span>
                        <span ng-if="npc.profileUser.looking_for_opportunity == 'true'">
										<span
									ng-show="!step5form.mobilenumber1.$error.pattern && !step5form.mobilenumber2.$error.pattern && !step5form.mobilenumber3.$error.pattern 
											&& !step5form.city.$error.required && !step5form.state.$error.required && !step5form.zip.$error.required && !step5form.zip.$error.pattern"><button
										type="button" class="btn btn-success btn-lg btn-oval"
										ng-click="setCurrentStep(8)">Next</button></span>
                        </span>


                    </div>

                </div>


            </div>
        </div>
        <div class="col-md-12" style="padding-top: 16.5%;">

            <div class="row five-cols">

                <div id="step1" class="col-md-1" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                    <label style="color: white;">STEP 1</label>
                    <br>
                    <label style="color: white;">Represent :{{npc.temnpc.representsType}}
                    </label>
                </div>
                <div class="col-md-1" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                    <label style="color: white;">STEP 2</label>
                    <br>
                    <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                    </label>

                </div>
                <div class="col-md-1" style="background-color: #0033cc; height: 77px;" ng-click="setCurrentStep(2)">
                    <label style="color: white;">STEP3</label>
                    <br>
                    <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                        <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                        <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                        <br> production_2015 : :{{npc.profileUser.production_2015}}
                        <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                        <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                        <br>
                    </label>
                </div>
                <div class="col-md-1" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                    <label style="color: white;">STEP 4</label>
                    <br>
                    <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                    </label>

                </div>
                <div class="col-md-1" style="background-color: green; height: 77px;">
                    <label style="color: white;">STEP 5</label>
                    <br>
                    <label style="color: white;"> Mobile Number:{{npc.profileUser.mobile_phone}}
                        <br> City:{{npc.profileUser.city}}
                        <br> State:{{npc.profileUser.state}}
                        <br> Zip:{{npc.profileUser.zip}}
                        <br>
                    </label>

                </div>
            </div>


        </div>

    </div>

    <div ng-switch-when="noOpp">

        <div class="col-md-10">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">
                        <div class="col-sm-12" align="center">
                            <div align="center">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3" align="right">
                                    <label>
                                        <br>Can we make your profile
                                        <br> visible to lenders
                                    </label>
                                </div>
                                <div class="col-sm-3" align="left">
                                    <button type="button" class="{{npc.styler.btnColorChange1}}" ng-click="npc.profileVisibleYes()">
                                        <i class="glyphicon glyphicon-ok"></i>
                                        <br>Yes
                                    </button>
                                    <button type="button" class="{{npc.styler.btnColorChange2}}" ng-click="npc.profileVisibleNo()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <br>No
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="padding-top: 5%" align="center">
                            <div align="center">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3" align="right">

                                    <label>
                                        <br>Accepts offers and
                                        <br> communications from lenders
                                    </label>
                                </div>
                                <div class="col-sm-6" align="left">
                                    <button type="button" class="{{npc.styler.btnColorChange3}}" ng-click="npc.acceptsOffersYes()">
                                        <i class="glyphicon glyphicon-ok"></i>
                                        <br>Yes
                                    </button>
                                    <button type="button" class="{{npc.styler.btnColorChange4}}" ng-click="npc.acceptsOffersNo()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <br>No
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="padding-top: 5%">
                            <div align="center">

                                <div class="col-sm-3"></div>
                                <div class="col-sm-3" align="right">

                                    <label>
                                        <br>
                                        <br>Keep my name private
                                    </label>
                                </div>
                                <div class="col-sm-3" align="left">
                                    <button type="button" class="{{npc.styler.btnColorChange5}}" ng-click="npc.namePrivateYes()">
                                        <i class="glyphicon glyphicon-ok"></i>
                                        <br>Yes
                                    </button>
                                    <button type="button" class="{{npc.styler.btnColorChange6}}" ng-click="npc.namePrivateNo()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <br>No
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div align="right" style="padding-top: 50%;">
                            <span ng-hide="!npc.noppQ1 && !npc.noppQ2 && !npc.noppQ3"><button
											type="button" class="btn btn-primary btn-lg btn-oval"
											ng-click="">Next</button></span> <span ng-show="!npc.noppQ1 && !npc.noppQ2 && !npc.noppQ3"><button
											type="button" class="btn btn-success btn-lg btn-oval"
											 ng-click="setCurrentStep(6)">Next</button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 16.5%;">

            <div id="step1" class="col-sm-2" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 1</label>
                <br>
                <label style="color: white;">Represent :{{npc.temnpc.representsType}}
                </label>
            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 2</label>
                <br>
                <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                </label>

            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(2)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP3</label>
                <br>
                <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                    <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                    <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                    <br> production_2015 : :{{npc.profileUser.production_2015}}
                    <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                    <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                    <br>
                </label>
            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 4</label>
                <br>
                <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                </label>
            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(4)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 5</label>
                <br>
                <label style="color: white;">
                    Mobile Number:{{npc.profileUser.mobile_phone}}
                    <br> City:{{npc.profileUser.city}}
                    <br> State:{{npc.profileUser.state}}
                    <br> Zip:{{npc.profileUser.zip}}
                    <br>
                </label>
            </div>
            <div class="col-sm-2" style="background-color: green; height: 77px;">
                <label style="color: white;">STEP 6</label>
                <br>
                <label style="color: white;">



                </label>
            </div>
        </div>


    </div>

    <div ng-switch-when="halfwaydone">


        <div class="col-md-10">

            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">
                        <div class="col-sm-12">
                            <div align="center">
                                <label>You are done with the standard setup. Now we will
                                    <br> ask you more detailed questions to better connect
                                    <br>you with the right lenders!
                                </label>
                            </div>
                            <br>
                            <div align="center" style="padding-top: 5%; padding-bottom: 5%">
                                <button type="button" ng-click="setCurrentStep(7)" class="btn btn-success btn-circle btn-xl" ng-click="">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    <br>Continue
                                </button>
                                <button type="button" class="btn btn-success btn-circle btn-xl" ng-click="npc.saveLoanOfficer()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <br>Save and
                                    <br> Continue
                                    <br>Later
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-top: 16.5%;">
            <div class="container" style="width: 100%;">
                <div class="row seven-cols">
                    <div id="step1" class="col-md-1" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 1</label>
                        <br>
                        <label style="color: white;">Represent :{{npc.profileUser.representsType}}
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 2</label>
                        <br>
                        <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(2)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP3</label>
                        <br>
                        <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                            <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                            <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                            <br> production_2015 : :{{npc.profileUser.production_2015}}
                            <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                            <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                            <br>
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 4</label>
                        <br>
                        <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(4)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 5</label>
                        <br>
                        <label style="color: white;"> Mobile Number:{{npc.profileUser.mobile_phone}}
                            <br> City:{{npc.profileUser.city}}
                            <br> State:{{npc.profileUser.state}}
                            <br> Zip:{{npc.profileUser.zip}}
                            <br>
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(5)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 6</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                    <div class="col-md-1" style="background-color: green; height: 77px;">
                        <label style="color: white;">STEP 7</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div ng-switch-when="detailedQuestions">
        <div class="col-md-10">
            <div class="container" style="padding:">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> Certification you currently hold</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="" style="padding:">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="width: 100%; height: 500px;">
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="list-group" id="list1">
                                                    <a href="#" class="list-group-item active">Certification

															</a> <span ng-repeat="user1 in listA">
																<button class="list-group-item"
																	ng-click="selectA(user1.id)" name="selectedA[]"
																	value="{{user.id}}"
																	ng-checked="selectedA.indexOf(user.id) > -1"
																	type="button" class="pull-right">{{user1.certifications}}
																</button>
															</span>
                                                </div>
                                            </div>

                                            <div class="col-md-2 v-center text-center">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <button title="Send to list 2" class="btn btn-default" ng-click="aToB()">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </button>
                                                <br>
                                                <button title="Send to list 1" class="btn btn-default" ng-click="bToA()">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                </button>
                                                <br>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="list-group" id="list2">
                                                    <a href="#" class="list-group-item active">
																Certification </a> <span ng-repeat="user1 in listB">
																<button class="list-group-item btn btn-success"
																	ng-click="selectB(user1.id)" name="selectedB[]"
																	
																	value="{{user.id}}"
																	ng-checked="selectedB.indexOf(user.id) > -1"
																	type="button" class="pull-right">{{user1.certifications}}
																</button>
															</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="padding-top: 5%;">
                            <div class="col-sm-12">
                                <div class="col-sm-4" align="right">
                                    <label> Do you have a production or support team </label>
                                </div>

                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="npc.profileUser.haveSuportTeam" value="yes" name="optradio">Yes</label>
                                    <label class="radio-inline
											">
                                        <input ng-model="npc.profileUser.haveSuportTeam" value="no" type="radio" name="optradio">No</label>
                                </div>
                            </div>
                            <span ng-if="npc.profileUser.haveSuportTeam == 'yes'">
										<div class="col-sm-12" style="padding-top: 2%;">
											<div class="col-sm-4" align="right">
												<label>How many</label>
											</div>
											<div class="col-sm-3" align="left">
												<input id="slider567" type="range" min="1" max="10" step="1"
													ng-model="test" /> <label><p>{{test}}</p></label>
											</div>
										</div>
									</span>
                        </div>


                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label>Are you member of the following?</label>
                            </div>

                            <div class="col-sm-8">
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="list-group" id="list3">
                                        <a href="#" class="list-group-item active">Certification

												</a> <span ng-repeat="user2 in listC">
													<button class="list-group-item btn btn-success"
														ng-click="selectC(user2.id)" name="selectedC[]"
														value="{{user2.id}}"
														ng-checked="selectedC.indexOf(user.id) > -1" type="button"
														class="pull-right">{{user2.member_organization}}
													</button>
												</span>
                                    </div>
                                </div>

                                <div class="col-md-2 v-center text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <button title="Send to list 2" class="btn btn-default" ng-click="cToD()">
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                    <br>
                                    <button title="Send to list 1" class="btn btn-default" ng-click="dToC()">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                    </button>
                                    <br>

                                </div>
                                <div class="col-sm-4">
                                    <div class="list-group" id="list4">
                                        <a href="#" class="list-group-item active">
													Certification </a> <span ng-repeat="user2 in listD">
													<button class="list-group-item btn btn-success"
														ng-click="selectD(user2.id)" name="selectedD[]"
														
														value="{{user2.id}}"
														ng-checked="selectedDS.indexOf(user2.id) > -1"
														type="button" class="pull-right">{{user2.member_organization}}
													</button>
												</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div align="right" style="padding-top: 50%;">
                            <button type="button" class="btn btn-primary btn-lg btn-oval" ng-click="setCurrentStep(10)">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12" style="padding-top: 16.5%;">

            <div class="container" style="width: 100%;">
                <div class="row eight-cols">

                    <div id="step1" class="col-md-1" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 1</label>
                        <br>
                        <label style="color: white;">Represent :{{npc.profileUser.representsType}}
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 2</label>
                        <br>
                        <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(2)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP3</label>
                        <br>
                        <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                            <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                            <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                            <br> production_2015 : :{{npc.profileUser.production_2015}}
                            <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                            <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                            <br>
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 4</label>
                        <br>
                        <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(4)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 5</label>
                        <br>
                        <label style="color: white;"> Mobile Number:{{npc.profileUser.mobile_phone}}
                            <br> City:{{npc.profileUser.city}}
                            <br> State:{{npc.profileUser.state}}
                            <br> Zip:{{npc.profileUser.zip}}
                            <br>
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(5)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 6</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(6)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 7</label>
                        <br>
                        <label style="color: white;"> </label>
                    </div>
                    <div class="col-md-1" style="background-color: green; height: 77px;">
                        <label style="color: white;">STEP 8</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <div ng-switch-when="yesOpp">

        <div class="col-md-10">

            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">

                        <div align="center">
                            <label> Why are you looking! </label>
                        </div>

                        <br>
                        <br>
                        <br>
                        <!-- 			<div class="col-sm-12">
									<button type="button" class="{{npc.styler.btnLackofSupport}}"
										ng-click="npc.lackofSupportClick()">
										<i class="glyphicon glyphicon-ok"></i><br>Lack of <br>Support
									</button>
									<button type="button" class="{{npc.styler.btnMoreIncome}}"
										ng-click="npc.moreIncomeClick()">
										<i class="glyphicon glyphicon-ok"></i><br>More <br>Income
									</button>
									<button type="button"
										class="{{npc.styler.btnConfidenceinOperations}}"
										ng-click="npc.confidenceinOperationsClick()">
										<i class="glyphicon glyphicon-ok"></i><br>Confidence <br>in
										Operations
									</button>
									<button type="button" class="{{npc.styler.btnBetterOpportunity}}"
										ng-click="npc.betterOpportunityClick()">
										<i class="glyphicon glyphicon-ok"></i><br>Better <br>Opportunity
									</button>
									<button type="button" class="{{npc.styler.btnLeadership}}"
										ng-click="npc.leadershipClick()">
										<i class="glyphicon glyphicon-ok"></i><br>Leadership
									</button>
								</div>

								<div class="col-sm-12" align="center">
									<br> <br>
									<button type="button" class="{{npc.styler.btnClosingTimeline}}"
										ng-click="npc.closingTimelineClick()">
										<i class="glyphicon glyphicon-ok"></i><br>Closing <br>Timeline
									</button>
									<button type="button" class="{{npc.styler.btnCantgrowmyteam}}"
										ng-click="npc.cantgrowmyteamClick()">
										<i class="glyphicon glyphicon-ok"></i><br>Can't grow<br>my
										team
									</button>
								</div>
								 -->
                        <span ng-repeat="lookingType in npc.reasonforlookingCategories">
																<button  class="btn btn-circle btn-xl "
														ng-class="{selected:  npc.selectedE2[lookingType.id]  === lookingType.id}"
																	ng-click="npc.selectE2(lookingType)"
																
																	type="button" ><label style="color: white;">{{lookingType.reason_looking}}</lable>
																</button>
															</span>


                        <div align="right" style="padding-top: 50%;">
                            <button type="button" class="btn btn-primary btn-lg btn-oval" ng-click="setCurrentStep(9)">Next</button>
                        </div>
                        <!-- 		ng-click="npc.reasonforlooking(lookingType)" -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-top: 16.5%;">

            <div id="step1" class="col-sm-2" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 1</label>
                <br>
                <label style="color: white;">Represent :{{npc.profileUser.representsType}}
                </label>
            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 2</label>
                <br>
                <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                </label>

            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(2)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP3</label>
                <br>
                <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                    <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                    <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                    <br> production_2015 : :{{npc.profileUser.production_2015}}
                    <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                    <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                    <br>
                </label>
            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 4</label>
                <br>
                <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                </label>
            </div>
            <div class="col-sm-2" ng-click="setCurrentStep(4)" style="background-color: #0033cc; height: 77px;">
                <label style="color: white;">STEP 5</label>
                <br>
                <label style="color: white;"> Mobile Number:{{npc.profileUser.mobile_phone}}
                    <br> City:{{npc.profileUser.city}}
                    <br> State:{{npc.profileUser.state}}
                    <br> Zip:{{npc.profileUser.zip}}
                    <br>
                </label>
            </div>
            <div class="col-sm-2" style="background-color: green; height: 77px;">
                <label style="color: white;">STEP 6</label>
                <br>
                <label style="color: white;"> </label>
            </div>
        </div>


    </div>
    <div ng-switch-when="currentComp">

        <div class="col-md-10">

            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <button type="button" class="{{npc.styler.btnSalary}}" ng-click="npc.salaryClick()">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    <br>Salary
                                </button>
                                <br>
                                <br>
                                <br>




                                <div ng-if="npc.salary_slider" style="padding-top: 5px;">
                                    <input id="slider1" type="range" min="1" max="250000" step="0" ng-model="npc.profileUser.required_comp_salary" />
                                    <label ng-bind="npc.profileUser.required_comp_salary"></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="{{npc.styler.btnBps}}" ng-click="npc.bpsClick()">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    <br>BPS
                                </button>

                                <br>
                                <br>
                                <br>


                                <div ng-if="npc.bps_slider" style="padding-top: 5px;">

                                    <input id="slider1" type="range" min="1" max="200" step="0" ng-model="npc.profileUser.required_comp_bps" />
                                    <label ng-bind="npc.profileUser.required_comp_bps"></label>

                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                            <button type="button" class="{{npc.styler.btnProduction}}" ng-click="npc.productionClick()">
                                <i class="glyphicon glyphicon-ok"></i>
                                <br>Production
                                <br> Bonus
                            </button>
                        </div>
                        <div align="right" style="padding-top: 50%;">
                            <button type="button" class="btn btn-primary btn-lg btn-oval" ng-click="setCurrentStep(7)">Next</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-top: 16.5%;">
            <div class="container" style="width: 100%;">
                <div class="row seven-cols">
                    <div id="step1" class="col-md-1" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 1</label>
                        <br>
                        <label style="color: white;">Represent :{{npc.profileUser.representsType}}
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 2</label>
                        <br>
                        <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(2)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP3</label>
                        <br>
                        <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                            <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                            <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                            <br> production_2015 : :{{npc.profileUser.production_2015}}
                            <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                            <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                            <br>
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 4</label>
                        <br>
                        <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(4)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 5</label>
                        <br>
                        <label style="color: white;"> Mobile Number:{{npc.profileUser.mobile_phone}}
                            <br> City:{{npc.profileUser.city}}
                            <br> State:{{npc.profileUser.state}}
                            <br> Zip:{{npc.profileUser.zip}}
                            <br>
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(7)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 6</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                    <div class="col-md-1" style="background-color: green; height: 77px;">
                        <label style="color: white;">STEP 7</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                </div>
            </div>
        </div>










    </div>
    <div ng-switch-when="systemYouUse">

        <div class="col-md-10">
            <div class="container" style="padding:">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> CRM you use </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="" style="padding:">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="width: 100%; height: 400px;">
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="list-group" id="list1">
                                                    <a href="#" class="list-group-item active">test </a> <span ng-repeat="user3 in npc.listE">
																<button class="list-group-item"
																	ng-click="npc.selectE(user3.id)" name="npc.selectedE[]"
																	value="{{user.id}}"
																	ng-checked="npc.selectedE.indexOf(user3.id) > -1"
																	type="button" class="pull-right">{{user3.crm_youuse}}
																</button>
															</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 v-center text-center">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <button title="Send to list 2" class="btn btn-default" ng-click="npc.eToF()">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </button>
                                                <br>
                                                <button title="Send to list 1" class="btn btn-default" ng-click="npc.fToE()">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                </button>
                                                <br>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="list-group" id="list2">
                                                    <a href="#" class="list-group-item active"> test2 </a> <span ng-repeat="user3 in npc.listF">
																<button class="list-group-item btn btn-success"
																	ng-click="npc.selectF(user3.id)" name="npc.selectedF[]"
																	style="background-color: '{{test345}}'"
																	value="{{user.id}}"
																	ng-checked="npc.selectedF.indexOf(user3.id) > -1"
																	type="button" class="pull-right">{{user3.crm_youuse}}
																</button>
															</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> Pricing Engine </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="" style="padding:">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="width: 100%; height: 400px;">
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="list-group" id="list1">
                                                    <a href="#" class="list-group-item active">test</a> <span ng-repeat="user4 in npc.listG">
																<button class="list-group-item"
																	ng-click="npc.selectG(user4.id)" name="npc.selectedG[]"
																	value="{{user.id}}"
																	ng-checked="npc.selectedG.indexOf(user4.id) > -1"
																	type="button" class="pull-right">{{user4.pricing_Engine}}
																</button>
															</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 v-center text-center">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <button title="Send to list 2" class="btn btn-default" ng-click="npc.gToH()">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </button>
                                                <br>
                                                <button title="Send to list 1" class="btn btn-default" ng-click="npc.hToG()">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                </button>
                                                <br>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="list-group" id="list2">
                                                    <a href="#" class="list-group-item active"> test2 </a> <span ng-repeat="user4 in npc.listH">
																<button class="list-group-item btn btn-success"
																	ng-click="npc.selectH(user4.id)" name="npc.selectedH[]"
																	
																	value="{{user.id}}"
																	ng-checked="npc.selectedF.indexOf(user4.id) > -1"
																	type="button" class="pull-right">{{user4.pricing_Engine}}
																</button>
															</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> LOS </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="" style="padding:">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="width: 100%; height: 400px;">
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="list-group" id="list1">
                                                    <a href="#" class="list-group-item active">test </a> <span ng-repeat="user5 in npc.listI">
																<button class="list-group-item"
																	ng-click="npc.selectI(user5.id)" name="npc.selectedI[]"
																	value="{{user.id}}"
																	ng-checked="npc.selectedI.indexOf(user5.id) > -1"
																	type="button" class="pull-right">{{user5.los}}
																</button>
															</span>
                                                </div>
                                            </div>

                                            <div class="col-md-2 v-center text-center">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <button title="Send to list 2" class="btn btn-default" ng-click="npc.iToJ()">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </button>
                                                <br>
                                                <button title="Send to list 1" class="btn btn-default" ng-click="npc.jToI()">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                </button>
                                                <br>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="list-group" id="list2">
                                                    <a href="#" class="list-group-item active"> test2 </a> <span ng-repeat="user5 in npc.listJ">
																<button class="list-group-item btn btn-success"
																	ng-click="npc.selectJ(user5.id)" name="npc.selectedJ[]"
																	
																	value="{{user.id}}"
																	ng-checked="npc.selectedJ.indexOf(user5.id) > -1"
																	type="button" class="pull-right">{{user5.los}}
																</button>
															</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div align="right" style="padding-top: 50%;">
                            <button type="button" class="btn btn-primary btn-lg btn-oval" ng-click="setCurrentStep(11)">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 16.5%;">

            <div class="container" style="width: 100%;">
                <div class="row nine-cols">

                    <div id="step1" class="col-md-1" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 1</label>
                        <br>
                        <label style="color: white;">Represent :{{npc.profileUser.representsType}}
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 2</label>
                        <br>
                        <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(2)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP3</label>
                        <br>
                        <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                            <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                            <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                            <br> production_2015 : :{{npc.profileUser.production_2015}}
                            <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                            <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                            <br>
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 4</label>
                        <br>
                        <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(4)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 5</label>
                        <br>
                        <label style="color: white;"> Mobile Number:{{npc.profileUser.mobile_phone}}
                            <br> City:{{npc.profileUser.city}}
                            <br> State:{{npc.profileUser.state}}
                            <br> Zip:{{npc.profileUser.zip}}
                            <br>
                        </label>

                    </div>
                    <span ng-if="npc.profileUser.looking_for_opportunity =='false'">
									<div class="col-md-1"  ng-click="setCurrentStep(5)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 6</label><br> <label
											style="color: white;"> </label>

									</div>
									<div class="col-md-1"  ng-click="setCurrentStep(6)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 7</label><br> <label
											style="color: white;"> </label>
									</div>
									</span>

                    <span ng-if="npc.profileUser.looking_for_opportunity =='true'">
									
									<div class="col-md-1"  ng-click="setCurrentStep(8)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 6</label><br> <label
											style="color: white;"> </label>

									</div>
									<div class="col-md-1"  ng-click="setCurrentStep(9)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 7</label><br> <label
											style="color: white;"> </label>
									</div>
									</span>

                    <div class="col-md-1" ng-click="setCurrentStep(7)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 8</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>

                    <div class="col-md-1" style="background-color: green; height: 77px;">
                        <label style="color: white;">STEP 9</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-switch-when="stateAndBusiness">

        <div class="col-md-10">


            <div class="container" style="padding:">

                <div class="panel panel-default">
                    <div class="panel-body" style="width: 100%; height: 100%;">


                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> States you lend in </label>

                            </div>
                            <div class="col-sm-8">

                                <div class="" style="padding:">

                                    <div class="panel panel-default">
                                        <div class="panel-body" style="width: 100%; height: 400px;">
                                            <div class="col-sm-4 col-sm-offset-1">

                                                <div class="list-group" id="list1">
                                                    <a href="#" class="list-group-item active">test <input
																title="Toggle all" ng-click="npc.toggleK()"
																ng-model="toggle" value="{{toggle}}" type="checkbox"
																class="pull-right">
															</a> <span ng-repeat="user6 in npc.listK">



																<button class="list-group-item btn-special "
																	ng-class="{selected:  npc.selectedK[user6.id]  === user6.id}"
																	//ng-mouseover="npc.selectK1()"
																	ng-click="npc.selectK(user6.id)" name="npc.selectedK{}"
																	ng-checked="npc.selectedK.indexOf(user6.id) > -1"
																	type="button" class="pull-right">{{user6.states_youLend}}

																</button>





															</span>
                                                </div>
                                            </div>

                                            <div class="col-md-2 v-center text-center">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <button title="Send to list 2" class="btn btn-default" ng-click="npc.kToL()">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </button>
                                                <br>
                                                <button title="Send to list 1" class="btn btn-default" ng-click="npc.lToK()">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                </button>
                                                <br>



                                            </div>
                                            <div class="col-sm-4">
                                                <div class="list-group" id="list2">
                                                    <a href="#" class="list-group-item active"> test2 </a> <span ng-repeat="user6 in npc.listL">



																<button class="list-group-item btn btn-success"
																	ng-click="npc.selectL(user6.id)" name="npc.selectedL[]"
																	value="{{user.id}}"
																	ng-checked="npc.selectedL.indexOf(user6.id) > -1"
																	type="button" class="pull-right">{{user6.states_youLend}}

																</button>









															</span>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4">

                                <label>Where does your business
                                    <br> come from
                                </label>

                            </div>
                            <div class="col-sm-8">
                                <br>
                                <br>
                                <br>
                                <input id="slider1" type="range" type="number" ng-click="npc.whereBusniessCome(npc.slider1,npc.slider2,npc.slider3,npc.slider4,npc.slider5,npc.slider6,npc.slider7)" min="0" name="production" max="100" step="10" ng-model="npc.slider1" required />
                                <label>{{npc.slider1}}%</label>
                                <br>
                                <br>
                                <input id="slider2" type="range" min="0" type="number" ng-click="npc.whereBusniessCome(npc.slider1,npc.slider2,npc.slider3,npc.slider4,npc.slider5,npc.slider6,npc.slider7)" name="production" max="100" step="10" ng-model="npc.slider2" required />
                                <label>{{npc.slider2}}%</label>
                                <br>
                                <br>

                                <input id="slider1" type="range" min="0" name="production" max="100" ng-click="npc.whereBusniessCome(npc.slider1,npc.slider2,npc.slider3,npc.slider4,npc.slider5,npc.slider6,npc.slider7)" step="10" ng-model="npc.slider3" required />
                                <label>{{npc.slider3}}%</label>
                                <br>
                                <br>
                                <input id="slider1" type="range" min="0" ng-click="npc.whereBusniessCome(npc.slider1,npc.slider2,npc.slider3,npc.slider4,npc.slider5,npc.slider6,npc.slider7)" name="production" max="100" step="10" ng-model="npc.slider4" required />
                                <label>{{npc.slider4}}%</label>
                                <br>
                                <br>


                                <input id="slider1" type="range" min="0" name="production" max="100" ng-click="npc.whereBusniessCome(npc.slider1,npc.slider2,npc.slider3,npc.slider4,npc.slider5,npc.slider6,npc.slider7)" step="10" ng-model="npc.slider5" required />
                                <label>{{npc.slider5}}%</label>
                                <br>
                                <br>
                                <input id="slider1" type="range" min="0" ng-click="npc.whereBusniessCome(npc.slider1,npc.slider2,npc.slider3,npc.slider4,npc.slider5,npc.slider6,npc.slider7)" name="production" max="100" step="10" ng-model="npc.slider6" required />
                                <label>{{npc.slider6}}%</label>
                                <br>
                                <br>


                                <input id="slider1" type="range" min="0" name="production" max="100" ng-click="npc.whereBusniessCome(npc.slider1,npc.slider2,npc.slider3,npc.slider4,npc.slider5,npc.slider6,npc.slider7)" step="10" ng-model="npc.slider7" required />
                                <label>{{npc.slider7}}%</label>


                                <br>
                                <br> <span ng-if="npc.test322<=100"> <label
											style="">Total:- {{npc.test322}}</label>
										</span> <span ng-if="npc.test322 >100"> <label
											style="color: red">Total:-{{npc.test322}}</label><br> <label
											style="color: red">Please enter valid inputs </label>
										</span>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="col-md-12" style="padding-top: 16.5%;">

            <div class="container" style="width: 100%;">
                <div class="row ten-cols">

                    <div id="step1" class="col-md-1" ng-click="setCurrentStep(0)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 1</label>
                        <br>
                        <label style="color: white;">Represent :{{npc.profileUser.representsType}}
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(1)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 2</label>
                        <br>
                        <label style="color: white;">NMLS Number :{{npc.profileUser.nmls_number}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(2)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP3</label>
                        <br>
                        <label style="color: white;">Years of Ex :{{npc.profileUser.yearsOfExperience}}
                            <br> currentlyWorkFor : :{{npc.profileUser.currentlyWorkFor}}
                            <br> averageLoanAmount : :{{npc.profileUser.averageLoanAmount}}
                            <br> production_2015 : :{{npc.profileUser.production_2015}}
                            <br> percentageGB : :{{npc.profileUser.percentageGovernmentBusiness}}
                            <br> percentagePurchase : :{{npc.profileUser.percentagePurchase}}
                            <br>
                        </label>
                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(3)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 4</label>
                        <br>
                        <label style="color: white;">Opportunity Type :{{npc.profileUser.looking_for_opportunity}}
                        </label>

                    </div>
                    <div class="col-md-1" ng-click="setCurrentStep(4)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 5</label>
                        <br>
                        <label style="color: white;"> Mobile Number:{{npc.profileUser.mobile_phone}}
                            <br> City:{{npc.profileUser.city}}
                            <br> State:{{npc.profileUser.state}}
                            <br> Zip:{{npc.profileUser.zip}}
                            <br>
                        </label>

                    </div>
                    <span ng-if="npc.profileUser.looking_for_opportunity =='false'">
									
									<div class="col-md-1"  ng-click="setCurrentStep(5)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 6</label><br> <label
											style="color: white;"> </label>

									</div>
									<div class="col-md-1"  ng-click="setCurrentStep(6)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 7</label><br> <label
											style="color: white;"> </label>
									</div>
									</span>
                    <span ng-if="npc.profileUser.looking_for_opportunity =='true'">
									
									<div class="col-md-1"  ng-click="setCurrentStep(8)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 6</label><br> <label
											style="color: white;"> </label>

									</div>
									<div class="col-md-1"  ng-click="setCurrentStep(9)"
										style="background-color: #0033cc; height: 77px;">
										<label style="color: white;">STEP 7</label><br> <label
											style="color: white;"> </label>
									</div>
									</span>




                    <div class="col-md-1" ng-click="setCurrentStep(7)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 8</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>

                    <div class="col-md-1" ng-click="setCurrentStep(10)" style="background-color: #0033cc; height: 77px;">
                        <label style="color: white;">STEP 9</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>

                    <div class="col-md-1" style="background-color: green; height: 77px;">
                        <label style="color: white;">STEP 10</label>
                        <br>
                        <label style="color: white;"> </label>

                    </div>
                </div>
            </div>
        </div>