<form name="loginform">

    <div class="col-sm-12" style="padding-bottom: 25px;">
        <div>Username</div>
        <input type="text" name=userName class="form-control" ng-model="lc.credentials.email" required/>
        <span style="color: red;" ng-if="loginform.userName.$error.required">Required</span>

        <!-- <div ng-if="erroruserName">
									<label style="color: red;">Required*</label>
								</div> -->
    </div>




    <div class="col-sm-12" style="padding-bottom: 25px;">
        <div>Password</div>
        <diV>
            <input type="password" class="form-control" name="password" ng-model="lc.credentials.password" required />
            <!-- <div ng-if="errorpassword">
									<label style="color: red;">Required*</label>
								</div> -->
            <span style="color: red;" ng-if="loginform.password.$error.required">Required</span>
        </div>

    </div>
    <div class="col-sm-12" style="padding-bottom: 25px;">
        <div>
            <button type="button" class="btn btn-primary" ng-click="lc.login()" style="width: 100%;">Log In</button>

        </div>


    </div>

    <span ng-if="l.loginError" style="padding-left:30%; ">
						<label style="color: red;">Please check your username and password </label>
						
						
						</span>

    <div class="col-sm-12">
        <input type="checkbox"> Remember me
    </div>


    <div class="col-sm-12">
        <hr>
    </div>



    <!-- 	<div class="col-sm-12">
							<a href=""> Forgot Your Password?</a>
						</div> -->


    <div class="col-sm-12" align="center">
        <a ui-sref="authentication.registration"> Create a account</a>
    </div>



</form>